
 
 .registrationform{
     height:100vh;
     width: 100vw;
     background-image: linear-gradient(to bottom, rgb(195, 223, 219) ,rgb(165, 165, 189),rgb(207, 207, 221));

     display: flex;
     justify-content: center;
     align-items: center;
     
    
 
 }
 
 .register_form{
     /* border:1px solid black; */
     box-shadow: 10px 10px 20px rgb(30, 30, 136);
     height: 300px;
     width: 500px;
     border-radius: 10px;
     color:white;
     padding: 20px;
     background-image: linear-gradient(to bottom, rgb(162, 162, 224) ,rgb(162, 162, 214),rgb(110, 110, 148));


 }
 
 #register h1{
     text-align: center;
     margin:10px;
 }
 
 .input_ele input{
  
     margin:10px;
     padding: 10px;
     width: 380px;
     border-radius: 5px;
     border-style: none;
 
 }
 .context{
     display: flex;
     margin:10px 50px 10px 20px;
     /* border:1px solid rgb(224, 216, 216); */
     
 }
 .context input{
     margin:5px;
 }
 .context p{
     margin:5px;
     font-size: 15px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 
 .register_btn {
     display: flex;
     margin:10px 60px 10px 20px ;
     justify-content: end;
 }
 
 .register_btn button{
      padding:7px 10px;
      margin:5px 10px;
      border-radius: 5px;
      border-style: none;
      font-weight: bold;
      background-color: green;
 
 
 }
 
 .register_btn button:hover{
     background-color: rgb(88, 171, 88);
 }
 
 